<!DOCUMENT>
<html>
    <head>
    <meta>
        <meta charset="UTF-8"/>
        <!--vue-->
        <script src="lib/vue/vue.js"></script>
        <!--jQuery-->
        <script src="lib/jquery/jquery-3.3.1.min.js"></script>
        <script charset="utf-8" src="lib/jquery/splitter/jquery.splitter.js"></script>
        <link rel="stylesheet" href="lib/jquery/splitter/jquery.splitter.css"/>
        <!--ElementUI-->
        <link rel="stylesheet" href="lib/element/index.css"/>
        <script charset="utf-8" src="lib/element/index.js"></script>
        <!--Chart-->
        <script charset="utf-8" src="lib/chart/chart.js"></script>
    </head>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <div class="wrapper">
        <!-- app -->
        <div v-cloak id="app">
            <!--Главное меню-->
            <el-menu
                    ref="menu"
                    :default-active="curTab"
                    mode="horizontal"
                    @select="handleMenuSelect"
                    background-color="#545c64"
                    text-color="#fff"
                    active-text-color="#ffd04b">
                <el-menu-item  class="topMenu" index="CNL">
                    Текст
                </el-menu-item>
                <el-menu-item class="topMenu" index="TRIPLETS">
                    Фрейм
                </el-menu-item>
                <el-menu-item class="topMenu" index="STATS">
                    Анализ
                </el-menu-item>
                <el-menu-item class="topMenu" index="OWL">
                    OWL
                </el-menu-item>
                <el-menu-item class="topMenu" index="VOWL">
                    Онтограф
                </el-menu-item>
            </el-menu>
            <br/>
            <!--Боковое меню-->
            <el-menu
            v-bind:class="{'invisible' : curTab == TAB_VOWL}"
            class="sideMenu"
            :collapse=true
            :default-active="curMenuItem">
                <el-menu-item
                        index="createNewCNL"
                        @click="showLoadOwlModal = true">
                    <i style="font-size:44; left:10px" class="el-icon-document"></i>
                    <span style="font-size:14" slot="title">Создать новую онтологию</span>
                </el-menu-item>
                <el-menu-item
                        @click="highlight()"
                        style="margin-top:10px;"
                        index="highlight">
                    <i style="font-size:44" class="el-icon-search"></i>
                    <span style="font-size:14" slot="title">Подсветка синтаксиса КЕЯ</span>
                </el-menu-item>
                <el-menu-item
                        @click="cnlAreaShow = false; colorizedAreaShow = false;"
                        style="margin-top:10px;"
                        index="edit">
                    <i style="font-size:44" class="el-icon-edit"></i>
                    <span style="font-size:14" slot="title">Режим редактирования КЕЯ</span>
                </el-menu-item>
            </el-menu>
            <div id="parent">
                <!--Основной контент-->
                <!--Левая половина-->
                <div id="leftSide">
                    <div id="keaAreaWrapper">
                        <textarea  v-bind:class="{'invisible' :  cnlAreaShow  || curTab == TAB_VOWL}"
                                   id="keaArea"
                                   v-focus
                                   placeholder="Введите текст на КЕЯ"
                                   v-model="cnl"
                                   v-on:keydown="keaKeyDown" >
                       </textarea>
                   </div>
                   <!-- Визуализация КЕЯ -->
                    <div v-bind:class="{'invisible' : !cnlAreaShow || curTab == TAB_VOWL}"
                            id="cnlArea">
                        <div id="cnlPlaceholder" class="cnl"></div>
                    </div>
                </div>
                <div id="rightSide">
                    <!--Правая половина-->
                    <!-- Исходный текст для онтологии-->
                    <textarea v-bind:class="{'invisible' : colorizedAreaShow || curTab != TAB_CNL}"
                              id="rawArea"
                              placeholder="Исходный текст"
                              v-model="raw">
                    </textarea>
                    <!--Размеченный из КЕЯ тект-->
                    <div v-bind:class="{'invisible' : !colorizedAreaShow || curTab != TAB_CNL}"
                         id="colorizedTextArea">
                        <div class="btn-bot-panel">
                            <el-button @click="selectAllCNL()" class="transparent-btn" type="success" icon="el-icon-success"></el-button>
                            <el-button @click="deselectAllCNL()" class="transparent-btn" type="info" icon="el-icon-error"></el-button>
                        </div>
                        <div id="colorizedPlaceholder" class="colorized-text"></div>
                    </div>
                    <!-- Фрейм -->
                    <div v-bind:class="{'invisible' : curTab != TAB_TRIPLETS }"
                              readonly id="tripletsArea"
                              placeholder="Фрейм"
                              >
                        <div v-bind:class="{'invisible' : showFrame || curTab != TAB_TRIPLETS}"
                                class="frame-placeholder">
                              <i class="el-icon-arrow-left"></i>
                              <p style="font-family: monospace;">Выберите объект онтологии</p>
                        </div>
                        <div v-bind:class="{'invisible' : !showFrame || curTab != TAB_TRIPLETS}"
                            class="frame-main">
                            <div class="frame-header">
                                <el-button type="primary" plain id="backButton"
                                        class="transparent-btn"
                                        @click="showPrevFrame()"
                                        v-bind:class="{'invisible' : textHistory.length <= 1 || curTab != TAB_TRIPLETS}">
                                    <i class="el-icon-back" style="/* float: left; */margin-left:;"></i>
                                </el-button>
                                <p>{{subjName}}</p>
                            </div>
                            <div class="frame-body"
                                 v-bind:class="{'invisible' : relations.length === 0 && objects.length === 0 }">
                                <div class="frame-left">
                                        <p v-for="item in relations"
                                            style="padding-bottom: 2px;"
                                            v-bind:class="{'topborder' : item!=''}">
                                            {{item}}
                                        </p>
                                </div>
                                <div class="frame-right">
                                        <p v-for="item in objects"
                                            class="object-link"
                                            @click="addToTextHistory(item); showTriplets(item);">
                                            {{item}}
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Анализ статистики -->
                    <div v-bind:class="{'invisible' : curTab != TAB_STATS }"
                         readonly id="satsArea">
                        <el-button type="primary" plain id="topWordsBtn"
                                   @click="showTopWords()"
                                   style="margin-left: 10px;"
                                   v-bind:class="{'invisible' : curTab != TAB_STATS || showTopWordsScreen}">
                            Топ частоты слов
                        </el-button>
                        <el-button type="primary" plain id="topObjectsBtn"
                                   @click="showTopObjects()"
                                   v-bind:class="{'invisible' : curTab != TAB_STATS || !showTopWordsScreen}">
                            Топ частоты объектов КЕЯ
                        </el-button>
                        <div id="topWords"
                             v-bind:class="{'invisible' : !showTopWordsScreen}">
                            <canvas id="cnlTopWords" width="400" height="400"></canvas>
                        </div>
                        <div id="topObjects"
                             v-bind:class="{'invisible' : showTopWordsScreen}">

                            <p class="stat-label">Исходная форма: <span style="color:green">{{CNLSelectedOrigin}}</span></p>
                            <p class="stat-label">Нормальная форма: <span style="color:red">{{CNLSelectedNorm}}</span></p>
                            <p class="stat-label">Количество вхождений объекта в текст: <span class="statSpan">{{CNLMeet}}</span></p>
                            <p class="stat-label">Частота объекта: <span class="statSpan">{{CNLimportance}} %</span></p>
                            <p class="stat-label">Гистограмма частотности объектов:</p>
                            <hr/>
                            <canvas id="cnlTop" width="400" height="400"></canvas>
                        </div>
                    </div>
                    <!-- OWL -->
                    <textarea v-bind:class="{'invisible' : curTab != TAB_OWL}"
                              readonly id="owlArea"
                              placeholder="OWL"
                              v-model="owl">
                    </textarea>
                </div>
            </div>
            <div v-bind:class="{'invisible' : curTab != TAB_VOWL}"
                 id="owlDiv">
                <iframe id="vowlFrame" width="100%" height="100%"> </iframe>
            </div>

            <!--Сообшение о ошибке (незаполненная КЕЯ)-->
            <modal v-if="showEmptyCnlModal"
                   @close="showEmptyCnlModal = false; openCnlTab();">
               <h3 slot="header">Ошибка{{emptyCnlMessage}}</h3>
               <p slot="body"></p>
               <p slot="footer">Введите текст на КЕЯ</p>
            </modal>
            <!--Диалог для создания OWL-->
            <modal-owl v-cloak
                       :iri="iri"
                v-if="showLoadOwlModal"
                @ok="showLoadOwlModal = false; sendCNL();"
                @close="showLoadOwlModal = false; openCnlTab();">
                <h3 slot="header">Создание онтологии</h3>
                <p slot="body">Введите название онтологии:</p>
                <input  @keyup.enter="showLoadOwlModal = false; sendCNL();"
                        v-model="iri"
                        v-focus
                        slot="body-add"/>
                <i slot="footer" class="el-icon-upload2"></i>
            </modal-owl>
            <!--Диалог загрузки-->
            <modal-loading v-if="showLoadingModal"
                   @close="showLoadingModal = false;">
                <h3 slot="header"></h3>
            </modal-loading>
            <!--Сообшение о ошибке генерации OWL-->
            <modal v-if="showOWLErrorModal"
                   @close="showOWLErrorModal = false; openCnlTab();">
                <h3 slot="header">Ошибка при генерации OWL</h3>
                <p slot="body">{{OWLErrMessage}}</p>
                <p slot="footer"> </p>
            </modal>
       </div>
        <div class="push"></div>
    </div>
    <div class="footer">
        <hr style="background-color:#ffd04b"/>
        <div style="text-align:center">
             <span style="color:white; margin-top: 10px">Ontomaker</span>
        </div>
    </div>

       <script charset="utf-8" src="util.js"></script>
       <script charset="utf-8" src="main.js"></script>
       <script charset="utf-8" src="modal.js"></script>

       <script charset="utf-8" src="modal-owl.js"></script>
       <script charset="utf-8" src="modal-loading.js"></script>
       <link rel="stylesheet" href="main.css"/>
       <link rel="stylesheet" href="modal.css"/>
       <link rel="stylesheet" href="frame.css"/>
       <link rel="stylesheet" href="scrollbar.css"/>

        <script>
            var splitter = $('#parent').height('440px').split({
                orientation: 'vertical',
                limit: 400,
                position: '50%'
            });
        </script>

   </body>
</html>
