textarea,
pre {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

#hideScreen{
	background-color:white;
	height:100%;
	width:100%;
	z-index:9999;
	position:fixed;
}

#parent{
	overflow: hidden;
}

#owlArea {
	width: 90%;
	height: 100%;
	margin-left: 2vw;
	resize: none;
}

.invisible{
	display: none !important
}

#keaArea{
	white-space: nowrap;
}

#keaArea,
#owlArea,
#rawArea,
#tripletsArea {
	margin-top: 1%;
	width: 90%;
	height: 75%;
	resize: none;
	margin-left: 2vw;
	font-size:18
}

#tripletsArea {

}

.topMenu{
	font-size:24
}

.sideMenu{
	float:left;
	top:6vh;
}

#keaButton{
	text-align:right;
}

#convertButton {
	margin-top: 2vw;
	margin-right: 2vw;
}

#downloadOWLButton {
	margin-left: 1vw;
}

#topButtons {
	height: 7%;
}

#owlDiv {
	height: 80%;
}

.cnl,
.colorized-text
 {
	margin-top: 1%;
	width: 90%;
	height: 71%;
	margin-left: 2vw;
	font-size:22;
	border:solid 1px black;
	padding: 10px;
	overflow: auto;
}

.triplet-unit {
	font-family: monospace;
	cursor: pointer;
}

.triplet-unit:hover {
	background-color: #d818af !important;
	color: white !important
}

.leftborder {
	border-left: 1px solid black
}

.topborder {
	border-top: 1px solid black;
	width: 210%;
}

#leftSide{
	width:50%;
	float:left
}

#rightSide{
	width:50%;
	float:right
}

.cnl-token {
    height: 26px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    display: inline-block;
    padding: 1px 5px;
    border-radius: 3px;
    margin: 2px;
}