

#hideScreen{
	background-color:white;
	height:100%;
	width:100%;
	z-index:9999;
	position:fixed;
}

#parent{
	overflow: hidden;
}

#owlArea {
	width: 90%;
	height: 100%;
	margin-left: 2vw;
	resize: none;
}

.invisible{
	display: none
}

#keaArea,
#owlArea,
#tripletsArea {
	margin-top: 1%;
	width: 90vw;
	height: 75%;
	resize: none;
	margin-left: 2vw;
	font-size:22
}

#tripletsArea {

}

.topMenu{
	font-size:24
}

.sideMenu{
	float:left;
	top:6vh;
}

#keaButton{
	text-align:right;
}

#convertButton {
	margin-top: 2vw;
	margin-right: 2vw;
}

#downloadOWLButton {
	margin-left: 1vw;
}

#topButtons {
	height: 7%;
}

#owlDiv {
	height: 80%;
}